@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body{
	background: linear-gradient(rgba(168, 7, 7, 0.8), rgba(141, 102, 102, 0.8)), url(img1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:2px;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

.container{
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    background-color: yellowgreen;
}
 .container div{
    border: 1px solid rgb(134, 21, 21);
}
 .title{
   text-align: center;
}
.form-container form{
    padding:5px;
    box-shadow: var(--box-shadow);
}
 
 .form-container form h3{
    margin-bottom: 5px;
    font-size: 30px;
    color:var(--black);
    text-transform: uppercase;
}
 .fillup{
    background-color: var(--white);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    flex-shrink: 0;
}
.body{
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
}
footer{
    flex-shrink: 0;
}

#223D44 blue
#671316 red

.nav__links a{
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }









  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body{
    background-size: cover;
	background-repeat: no-repeat;
    background-color: #1b1e2a;
    padding-top: 70px;
    padding-bottom: 40px;
    position:absolute;
    left:0px;
    right:0px; 
    overflow:auto;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:2px;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

/*header and footer*/
header{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    overflow-x:hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    height: 70px;
    background-color: #1b1e2a;
}
footer{
    position:fixed;
    overflow:hidden;
    padding: 13px;
    bottom: 0px;
    left:0px;
    right:0px;
    height: 50px;
    background-color: #1b1e2a;
    color:white;
    font-size:13px;
}
.nav__links {
    list-style: none;
    display: flex;
}
.nav__links a{
    font-weight: 500;
    color: white;
    text-decoration: none;
} 
.nav__links li {
    padding: 25px 20px 10px 20px;
} 
.nav__links li a {
    transition: all 0.3s ease 0s;
} 
.nav__links li a:hover {
    color: #0088a9;
}
.profile{
    border-radius: 50%;
    padding-left: 20%;
}

/*IDK*/
.container{
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 20px;
}
.title{
   text-align: center;
}
.form-container form{
    padding:5px;
    box-shadow: var(--box-shadow);
}
 
.form-container form h3{
    margin-bottom: 5px;
    font-size: 30px;
    color:var(--black);
    text-transform: uppercase;
}
.fillup{
    background-color: white;
    border-radius: 10px;
}
.sl{
    font-size: 14px;
}
